<div class="container-sm">
    <h1>{{ !!form.controls['id']?.value ? 'Edit' : 'Create' }} Vaccine</h1>
    <div class="row">
        <form [formGroup]="form" class="break">
            <label for="id">id</label>
            <input formControlName="id" id="id" type="text">

            <label for="brand">Brand</label>
            <input formControlName="brand" id="brand" type="text">

            <label for="description">Description</label>
            <input formControlName="description" id="description" type="text">

            <button (click)="submit()" [disabled]="!form.valid" type="submit">Submit</button>
        </form>
    </div>
</div>
