<div class="container-sm">
    <h1>{{ !!form.controls['id']?.value ? 'Edit' : 'Create' }} Patient</h1>
    <div class="row">
        <form [formGroup]="form" class="break">
            <label for="id">id</label>
            <input formControlName="id" id="id" type="text">

            <label for="dni">DNI</label>
            <input formControlName="dni" id="dni" type="text">

            <label for="firstName">First Name</label>
            <input formControlName="firstName" id="firstName" type="text">

            <label for="lastName">Last Name</label>
            <input formControlName="lastName" id="lastName" type="text">

            <label for="gender">Gender</label>
            <select formControlName="gender" id="gender">
                <option value="">Select a Gender</option>
                <option *ngFor="let gender of genders" [value]="gender">
                    {{ gender | titlecase }}
                </option>
            </select>

            <label for="dateOfBirth">Date Of Birth</label>
            <input formControlName="dateOfBirth" id="dateOfBirth" type="date">

            <label for="imageUrl">imageUrl</label>
            <input formControlName="imageUrl" id="imageUrl" type="text">

            <button (click)="submit()" [disabled]="!form.valid" type="submit">Submit</button>
        </form>
    </div>
</div>
