<div class="container">
    <h1>Vaccines <a class="btn btn-primary" href="/vaccines/editor">Add +</a></h1>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>id</th>
                <th>Brand</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vaccine of vaccines">
                <td>{{vaccine.id}}</td>
                <td>{{vaccine.brand}}</td>
                <td>{{vaccine.description}}</td>
                <td><a (click)="edit(vaccine, $event)" href="#">Edit</a></td>
                <td><a (click)="delete(vaccine, $event)" href="#">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
