<div class="container">
    <h1>Patients <a class="btn btn-primary" href="/patients/editor">Add +</a></h1>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>id</th>
                <th>DNI</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Date Of Birth</th>
                <th>Image</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let patient of patients">
                <td>{{patient.id}}</td>
                <td>{{patient.dni}}</td>
                <td>{{patient.firstName}}</td>
                <td>{{patient.lastName}}</td>
                <td>{{patient.gender}}</td>
                <td>{{patient.dateOfBirthStr | date}}</td>
                <td><img class="miniature" [src]="patient.imageUrl"></td>
                <td><a (click)="edit(patient, $event)" href="#">Edit</a></td>
                <td><a (click)="delete(patient, $event)" href="#">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
