<h1>Vaccines</h1>

<h2>Add New Vaccine</h2>
<div style="display: flex;">
  <label style="width: 10%;" for="brand">Brand: </label>
  <input id="brand" [(ngModel)]="newVaccine.brand" type="text">
</div>
<div style="display: flex;">
  <label style="width: 10%;" for="description">Description: </label>
  <input id="description" [(ngModel)]="newVaccine.description" type="text">
</div>
<button (click)="saveVaccine()" >Add Vaccine</button>
<button (click)="clearVaccine()">Clear</button>

<h2>Vaccines List</h2>
<div *ngFor="let vaccine of vaccineList" style="display: flex;">
  <!-- <div class="vaccine-info">{{vaccine.id}}</div> -->
  <div class="vaccine-info">{{vaccine.brand}}</div>
  <div class="vaccine-info">{{vaccine.description}}</div>
  <div><button (click)="deleteVaccine(vaccine)">delete</button></div>
</div>
